{{ define "main" }}
<style>
  .content p, h1, h2, h3, h4, li {
    color: #FFFFFF !important;
  }
  pre {
    color: #FFFFFF;
    background-color: #282c34;
  }
</style>
<section class="section has-background-dark">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-12-mobile is-10-tablet is-10-desktop is-10-widescreen is-8-fullhd">
        <h1 class="title has-text-white" style="margin-bottom: 0px;">{{ .Title }}</h1>
        <p class="is-size-6 has-text-grey-light">Published {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
        <br>
        <div class="subtitle has-text-white">{{ .Description }}</div>
        <hr>
        <div class="content">
          {{ .Content }}
        </div>
        <hr>
        <div class="columns is-mobile is-multiline">
          <div class="column is-full-mobile">
            {{ with .PrevInSection }}
              <a href="{{ .Permalink }}">
                <div class="box has-background-black">
                  <article class="media">
                    <div class="media-left has-text-white">←</div>
                    <div class="media-content">
                      <h1 class="title has-text-white is-size-5">{{ .Title | truncate 40 }}</h1>
                      <div class="subtitle is-size-6 has-text-grey-light">{{ .Description | truncate 40 }}</div>
                    </div>
                  </article>
                </div>
              </a>
            {{ end }}
          </div>
          <div class="column is-full-mobile">
            {{ with .NextInSection }}
              <a href="{{ .Permalink }}">
                <div class="box has-background-black">
                  <article class="media">
                    <div class="media-content">
                      <h1 class="title has-text-white is-size-5">{{ .Title | truncate 40 }}</h1>
                      <div class="subtitle is-size-6 has-text-grey-light">{{ .Description | truncate 40 }}</div>
                    </div>
                    <div class="media-right has-text-white">→</div>
                  </article>
                </div>
              </a>
            {{ end }}
          </div>
        </div>
        <div id="hndisq" data-username="rajasimon"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}