<div class="tags is-pulled-right">
  {{ range $tag := .Params.tags }}
    {{ if eq $tag "python" }}
      <span class="tag is-medium" style="background-color: {{ $.Site.Params.python }}; color: #FFFFFF">{{ $tag }}</span>
    {{ else if eq $tag "django" }}
      <span class="tag is-medium" style="background-color: {{ $.Site.Params.django }}; color: #FFFFFF">{{ $tag }}</span>
    {{ else if eq $tag "sql" }}
      <span class="tag is-medium" style="background-color: {{ $.Site.Params.sql }}; color: #FFFFFF">{{ $tag }}</span>
    {{ else if eq $tag "google" }}
      <span class="tag is-medium" style="background-color: {{ $.Site.Params.google }}; color: #FFFFFF">{{ $tag }}</span>
    {{ else }}
      <span class="tag is-medium" style="background-color: #000000; color: #FFFFFF">{{ $tag }}</span>
    {{ end }}
  {{ end }}
</div>