<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="title">RS.</h1>
      </a>
      <a href="/" class="navbar-item is-active is-hidden-desktop" style="margin-left: auto">
        Blog
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-end">
        <a href="/" class="navbar-item is-active" style="margin-left: auto">
          Blog
        </a>
      </div>
    </div>
  </div>
</nav>