{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      {{ range .Pages }}
        <div class="column is-12-mobile is-4-tablet is-4-desktop is-3-widescreen is-3-fullhd">
          <a href="{{ .RelPermalink }}">
            <div class="box has-background-grey">
              <h1 class="title has-text-white has-text-centered is-size-2">
              {{ .Title }}
              </h1>
            </div>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}