{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline is-centered">
      {{ range .Pages }}
        <div class="column is-12-mobile is-10-tablet is-10-desktop is-10-widescreen is-8-fullhd">
          <a href="{{ .RelPermalink }}">
            <h1 class="title is-size-2">
            {{ .Title }}
            </h1>
          </a>
          <p>{{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}</p>
          <p>
            {{ .Summary }}
          </p>
        </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}